* {
	box-sizing: border-box;
}

body {
	text-align: center;
}

.canvas-size {
	width: 50px;
}

.container {
	margin: 0 auto;
	width: 600px;
	height: 600px;
	display: grid;

}

.pixel {
	border-color: black;
	background-color: rgba(0, 0, 0, 0.1);
	border-width: 2px;
	margin: 1px;

}

